*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    font-size: 21px;
    background-color: rgb(225, 225, 219);
    box-shadow: 4px 5px 5px rgb(200, 198, 198);
}

.navbar span{
    border: 1px solid rgb(154, 146, 146);
    border-radius: 250px;
    box-shadow: 1px 1px 7px 0px ;
}
.navbar span:hover{
        cursor: pointer;
        border: 1px solid rgb(30, 220, 201);
         box-shadow: 1px 1px 7px 0px rgb(30, 220, 201);
}

.navbar .nav a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(100, 93, 93);
    justify-content: space-around;
    padding: 15px;
}
.navbar .nav a:hover{
    color: black;
    background-color: rgb(30, 220, 201);
}