.box{
    margin: auto;
}
#box1{

    height: 100px;
    width: 150px;
    border-radius: 12px;
    border:2px rgb(22, 15, 155);
    border-style: dashed;
    background-color: blueviolet;
    box-shadow: 3px 4px 5px rgb(182, 21, 91);
    padding: 12px;
    
}   
#box2{
        height: 100px;
    width: 150px;
    border-radius: 12px;
    border:2px rgb(22, 15, 155);
    border-style: dashed;
    background-color: blueviolet;
    box-shadow: 5px 2px 5px rgb(229, 239, 35);
    padding: 12px;
}

#img1{
    float: left;
    padding-left: 15px;
    margin-right: 25px;
    border-radius: 40%;
}
#img2{
    float: right;
    padding-right: 15px;
    margin-left: 5px;
    border-radius: 70%;
}
#img3{
    float:left;
    padding-left: 15px;
     margin-right: 25px;
    border-radius: 50%;
    }