body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7da0c4;
}

.container1{
    width: 450px;
    height: 550px;
    border: 2px solid rgb(248, 214, 19);
    background-color: rgb(71, 74, 241);
}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container2{
    background-color: rgb(235, 235, 99);
    border: 2px solid white;
    height: 350px;
    width: 250px;
    padding: 2px;
    text-align: center;
}
.container2 p{
    font-size: 10px;
    padding: -22px;
}
.container2 h4{
    background-color: yellow;
    letter-spacing: 1px;
    line-break:auto;
}

.button1{
    font-size: 5px;
    font-weight: normal;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 1px;
    
}

button{
    padding: 8px;
    border: 2px solid #2d6cdf;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #5013ea;
    color: rgb(43, 219, 16);
}